/.bundle
#/Gemfile
#/Gemfile.lock
/.sass-cache
/.settings
/.buildpath

/db/*.sqlite3
/log/*.log
/tmp
/config/database.yml
/db/schema.rb
/public/assets/
/public/uploads/

*.bak
~*
*.swp
*.tmp
# eclipse中直接复制的时候产生
Copy*.*

*.com
#*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
#*.jar
#*.rar
*.tar
#*.zip

*.log
#*.sql
*.sqlite


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
#Icon?
thumbs.db
Thumbs.db
