<!DOCTYPE html>
<html>
<head>
  <title>Rails3extjs4demo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>如果看到这个页面，说明layout用错了</p>
<%= yield %>

</body>
</html>
